
/* Declaring custom properties */
* {
  box-sizing: border-box;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid gray;

  z-index: -3;
}

.muneco {
  /* centramos verticalmente la patata */
  position: relative;

  margin: 0 auto;
  /* fin centrar verticalmente la patata */
  border: thin solid green;
  height: 30em;
  width: 30em;

}

.ojos {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: red;
  border: thin solid red;
}

.ojo {
  position: relative;
  width: 125px;
  height: 150px;
  background-color: black;
  border: thin solid black;
  border-radius: 70%;

}

.pupila {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid black;
  border-radius: 70%;
  width: 60px;
  height: 60px;
}

.ojo-lt {
  position: absolute;
  top: 1em;
  left: 1em;
  top: 0;
}

.ojo-rt {
  position: absolute;
  top: 1em;
  right: 1em;
  top: 0;
}

.pies {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

  bottom: 0;
  background-color: blue;
  border: thin solid blue;
  border-color: blue;

  z-index: -1;
}

.pie-i {
  position: relative;
  width: 250px;
  height: 100px;
  top: 600px;
  right: 102px;
  background-color: red;
  border: thin solid red;
}

.pie-d {
  position: relative;
  width: 250px;
  height: 100px;
  left: 329px;
  top: 500px;
  background-color: red;
  border: thin solid red;
}
.cuerpo {
  position: absolute;
  width: 478px;
  height: 280px;
  left: 0px;
  bottom: 50px;
  background-color: red;
  border: thin solid red;
}
.costilla-i {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 220px;
  left: 0px;
  bottom: 0px;
  background-color: blue;
  border: thin solid blue;
}
.costilla-d {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 220px;
  left: 378px;
  bottom: 0px;
  background-color: blue;
  border: thin solid blue;
}
.pierna-i {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 400px;
  right: 329px;
  background-color: blue;
}
.pierna-d {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 400px;
  left: 329px;
  background-color: blue;
}
.suela-d {
  position: relative;
  width: 250px;
  height: 20px;
  left: 329px;
  top: 480px;
  background-color: black;
  border: thin solid black;
}
.suela-i {
  position: relative;
  width: 250px;
  height: 20px;
  right: 102px;
  top: 500px;
  background-color: black;
  border: thin solid black;
}
.cinta-p-d {
  position: relative;
  width: 250px;
  height: 10px;
  left: 329px;
  top: 370px;
  background-color: black;
  border: thin solid black;
}
.cinta-p-i {
  position: relative;
  width: 250px;
  height: 10px;
  right: 102px;
  top: 360px;
  background-color: black;
  border: thin solid black;
}
.cinta-c-i {
  position: relative;
  width: 140px;
  height: 30px;
  right: 0px;
  top: 90px;
  background-color: black;
  border: thin solid black;
}
.cinta-c-d {
  position: relative;
  width: 130px;
  height: 30px;
  left: 348px;
  top: 60px;
  background-color: black;
  border: thin solid black;
}
.linea-m-i {
  position: relative;
  width: 20px;
  height: 160px;
  left: 120px;
  bottom: 130px;
  background-color: black;
  border: thin solid black;
}
.linea-m-d {
  position: relative;
  width: 20px;
  height: 180px;
  left: 340px;
  bottom: 280px;
  background-color: black;
  border: thin solid black;
}
.linea-h-i {
  position: relative;
  width: 140px;
  height: 20px;
  left: 0px;
  bottom: 475px;
  background-color: black;
  border: thin solid black;
}
.linea-h-d {
  position: relative;
  width: 140px;
  height: 20px;
  left: 340px;
  bottom: 495px;
  background-color: black;
  border: thin solid black;
}
