
/* Declaring custom properties */
* {
  box-sizing: border-box;
}

#fondo {
  position:
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;




  z-index: -3;
}

.muneco {
  /* centramos verticalmente la patata */
  position: absolute;


  /* fin centrar verticalmente la patata */

  height: 30em;
  width: 30em;
  left: 700px;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}

.ojos {
  position: absolute;
  height: 175px;
  left: 0px;
  right: 2px;
  margin: 0 auto;
  background-color: red;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}

.ojo {
  position: relative;
  width: 125px;
  height: 150px;
  background-color: black;
  border: thin solid black;
  border-radius: 70%;

}

.pupila {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid black;
  border-radius: 70%;
  width: 60px;
  height: 60px;
}

.ojo-lt {
  position: absolute;
  top: 1em;
  left: 1em;
  top: 0;
}

.ojo-rt {
  position: absolute;
  top: 1em;
  right: 1em;
  top: 0;
}

.pies {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

  bottom: 0;
  background-color: blue;
  border: thin solid blue;
  border-color: blue;

  z-index: -1;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}

.pie-i {
  position: relative;
  width: 250px;
  height: 100px;
  top: 600px;
  right: 99px;
  background-color: red;
  border: thin solid red;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}

.pie-d {
  position: relative;
  width: 250px;
  height: 100px;
  left: 329px;
  top: 500px;
  background-color: red;
  border: thin solid red;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0px;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.cuerpo {
  position: absolute;
  width: 478px;
  height: 280px;
  left: 0px;
  bottom: 50px;
  background-color: red;
  border: thin solid red;
  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}


}
.costilla-i {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 220px;
  left: 0px;
  bottom: 0px;
  background-color: blue;
  border: thin solid blue;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.costilla-d {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 220px;
  left: 378px;
  bottom: 0px;
  background-color: blue;
  border: thin solid blue;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.pierna-i {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 400px;
  right: 329px;
  background-color: blue;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.pierna-d {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 400px;
  left: 329px;
  background-color: blue;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.suela-d {
  position: relative;
  width: 240px;
  height: 20px;
  left: 329px;
  top: 480px;
  background-color: black;
  border: thin solid black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}
.suela-i {
  position: relative;
  width: 240px;
  height: 20px;
  right: 89px;
  top: 500px;
  background-color: black;
  border: thin solid black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}
.cinta-p-d {
  position: relative;
  width: 240px;
  height: 10px;
  left: 329px;
  top: 370px;
  background-color: black;
  border: thin solid black;
}
.cinta-p-i {
  position: relative;
  width: 240px;
  height: 10px;
  right: 89px;
  top: 360px;
  background-color: black;
  border: thin solid black;
}
.cinta-c-i {
  position: relative;
  width: 140px;
  height: 30px;
  right: 0px;
  top: 90px;
  background-color: black;
  border: thin solid black;
}
.cinta-c-d {
  position: relative;
  width: 130px;
  height: 30px;
  left: 348px;
  top: 60px;
  background-color: black;
  border: thin solid black;
}
.linea-m-i {
  position: relative;
  width: 20px;
  height: 160px;
  left: 120px;
  bottom: 130px;
  background-color: black;
  border: thin solid black;
}
.linea-m-d {
  position: relative;
  width: 20px;
  height: 180px;
  left: 340px;
  bottom: 280px;
  background-color: black;
  border: thin solid black;
}
.linea-h-i {
  position: relative;
  width: 140px;
  height: 20px;
  left: 0px;
  bottom: 475px;
  background-color: black;
  border: thin solid black;
}
.linea-h-d {
  position: relative;
  width: 138px;
  height: 20px;
  left: 340px;
  bottom: 495px;
  background-color: black;
  border: thin solid black;
}
.brazo-i {
  position: absolute;
  width: 260px;
  height: 110px;
  top: 225px;
  right: 420px;
  background-color: red;
  border: thin solid red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transform:rotate(150deg);
  z-index: -8;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.brazo-d {
  position: absolute;
  width: 260px;
  height: 110px;
  top: 225px;
  left: 420px;
  background-color: red;
  border: thin solid red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transform:rotate(-150deg);
  z-index: -8;

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.dedo-i-1 {
  position: absolute;
  width: 20px;
  height: 50px;
  top: 230px;
  right: 640px;
  background-color: red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transform:rotate(-220deg);

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.dedo-i-2 {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 300px;
  right: 630px;
  background-color: red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  transform:rotate(150deg);

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.dedo-i-3 {
  position: absolute;
  width: 80px;
  height: 20px;
  top: 370px;
  right: 620px;
  background-color: red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  transform:rotate(150deg);

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.dedo-d-1 {
  position: absolute;
  width: 20px;
  height: 50px;
  top: 230px;
  left: 640px;
  background-color: red;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transform:rotate(220deg);

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.dedo-d-2 {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 300px;
  left: 630px;
  background-color: red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  transform:rotate(-150deg);

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
.dedo-d-3 {
  position: absolute;
  width: 80px;
  height: 20px;
  top: 370px;
  left: 620px;
  background-color: red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  transform:rotate(-150deg);

  animation: venom 5s linear 1s infinite alternate;
}

@keyframes venom {

  100% {background-color: black;}
}
